.box {
    border: 1px solid black;
}

.box-1 {
   text-align: center;
    margin-left: 85%;
    /* margin-bottom: 5%; */
    display: flex;
   
}
.portfolio {
    margin-left: 2%;
    color: #2565EB;
}