/* .box {
    border: 1px solid black;
}

.box-1 {
   
  width: 50%;
	display: flex;
	justify-content: end;
	align-items: center;
	font-weight: 600;
	gap: 50px;
    
   
}
.portfolio {
    margin-left: 2%;
    color: #2565EB;
} */
 

* {
	padding: 0;
	margin: 0;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		sans-serif;
		line-height: 1.6;
		transition: 0.3s;
}

header {
	display: flex;
	box-shadow: 0px 5px 5px rgb(230, 230, 230);
	padding: 10px 40px 10px 40px;
}

.nav-1 {
	width: 50%;
	display: flex;
	text-align: start;
	align-items: center;
	font-size: 1.5rem;
	color: #2563eb;
	font-weight: bolder;
}

.nav-2 {
	width: 50%;
	display: flex;
	justify-content: end;
	align-items: center;
	font-weight: 600;
	gap: 50px;
}
.nav-2 a {
	color: black;
	text-decoration: none;
}
.nav-2 a:first-child {
	color: #2563eb;
}
.nav-2 a:hover {
	color: #2563eb;
}

.avatar-box {
	max-width: 1200px;
	margin: 10px auto;
	display: flex;
	justify-content: center;
}

.text-box {
	text-align: center;
}

.first {
}

.first button:first-child {
	width: 120px;
	background-color: #2563eb;
	padding: 10px;
	color: white;
	border: none;
	border-radius: 7px;
}

.first button:last-child {
	color: #2563eb;
	border: 1px solid #2563eb;
	width: 120px;
	border-radius: 7px;
	padding: 10px;
	background-color: white;
}

.first button:first-child:hover {
	background-color: #1e40af;
}
.first button:last-child:hover {
	background-color: #2563eb;
	color: white;
}